// Place all the styles related to the omniauth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  body {
  margin: 0;
 }

.main-home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top:
  150px;
  box-sizing: border-box;
}

#logo-login {
  &:hover {
    transition: 1s;
    opacity: .6;
    cursor: pointer;
  }
}
